{% for devicerecord in devicerecords %}
    <div class="tableRow">
        <div class="tableCellformText" style="width: 65%;">{{ devicerecord.rawdata }}</div>
        <div class="tableCell txtsmall" style="width: 35%;">{{ devicerecord.createdon|date("j M Y g:ia") }}</div>
    </div>
{% endfor %}

{% if devicerecords is empty %}
    {{ lbl_notfound }}
{% endif %}